<ion-app>
  <ion-menu side="start" menuId="app-menu" contentId="app-content" swipeGesture="false" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Shuffriend</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="full">
        <ion-item tappable (click)="logout()">
          <ion-label>
            Log Out
          </ion-label>
          <ion-icon name="log-out" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="app-content"></ion-router-outlet>
</ion-app>
