<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Home</ion-title>

    <ion-buttons slot="end">
      <ion-button tappable (click)="refreshFriends()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar class="ion-text-center">
        <img src="{{ facebookUser?.picture?.data?.url }}">
      </ion-avatar>

      <ion-card-subtitle class="ion-margin-top ion-text-capitalize">Welcome,</ion-card-subtitle>
      <ion-card-title>{{ facebookUser?.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="facebookFriends?.length <= 0">
        <p>It appears that none of your friends are using the Shuffriend App yet. 🥺</p>
        <p>In order to get random friends to stay social with they also need to install and use the Shuffriend App.</p>

        <ion-button tappable (click)="inviteFriends()" expand="block" color="primary" class="ion-margin-top">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Invite friends
        </ion-button>
      </div>

      <div *ngIf="facebookFriends?.length > 0">
        <ion-button tappable (click)="beSocial()" expand="block" color="success" class="ion-margin-top">
          <ion-icon slot="start" name="play"></ion-icon>
          Be Social
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
