<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Start</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="start-wrapper">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button tappable (click)="loginWithFacebook()" [disabled]="!allowLogin">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Login with Facebook
        </ion-button>
  
        <p class="disclaimer">
          By logging in you confirm that you agree <br>
          the <a routerLink="/terms-and-conditions" routerDirection="forward">Terms and Conditions</a> and <br>
          <a routerLink="/privacy-policy" routerDirection="forward">Privacy Policy</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>